.container {
  display: flex;
  height: 60px;
  background-color: var(--primary-purple);
}

.lightMode {
  background-color: var(--primary-black);
  color: var(--primary-green);
}

.hamburger-container {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.theme-mode-container {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 0 10px;
}
